<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Dash</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a1a89f55a7.js"></script>
    <link rel="stylesheet" href="/public/assets/">
    <link href="https://fonts.googleapis.com/css?family=Akronim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Akronim|Permanent+Marker&display=swap" rel="stylesheet">
    <style>
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("https://media.giphy.com/media/6jnKmSpBoJLaw/giphy.gif");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
        }

        .title {
            font-size: 50px;
            font-family: 'Akronim';
            text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00, 2px 2px 2px rgba(206, 89, 55, 0);
        }


        .fa {
            margin-left: 50px;


        }

        .burger-form {
            max-width: 400px;
            text-align: center;
            position: relative;
            left: 30%;

        }

        .text {
            font-family: 'Akronim';
            font-family: 'Permanent Marker';
        }

        #burgerOrder {
            border: 1px solid orangered;
        }

        .card {
            position: relative;
            left: 13%;
            background-color: #fff;
            color: orangered;
            border-radius: 10px;
            max-width: 350px;

        }

        .card-body {
            max-width: 300px;
            font-family: 'Akronim';
            font-family: 'Permanent Marker';
            margin-left: -20px;
            text-align: center;
        }

        .card-header {
            letter-spacing: 1.2rem;
            font-family: 'Akronim';
            font-size: 35px;
        }

        .fa-trash-alt {
            margin: 0 auto;
        }


        #btnOrderBurger {
            border-radius: 10px;
            background-color: orangered;
            color: #ffffff;
            font-family: 'Akronim';
            font-family: 'Permanent Marker';
            font-size: 25px;

            outline: none;
            transition: transform .2s;
            border: 1px solid orangered;

        }

        #btnOrderBurger:hover {
            cursor: pointer;
            transform: scale(1.1);
            outline: none;
        }


        .devour-button {
            color: red;
            font-family: 'Knewave', cursive;
        }
    </style>
</head>

<body>
    <nav class="navbar justify-content-center">
        <h1 class="title"><i class="fa fa-hamburger fa-3x"></i>
            <br> Eat-Da-Burger </h1>
    </nav>
    <br>
    <div class="container">
        {{{body}}}
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="././././assets/css/js/burger.js"></script>

</html>